@{
    ViewData["Title"] = "About us";
}

<div style="display: flex; align-items: center; justify-content: center;">
    <img src="~/images/GameStore.jpg" alt="GameStore Image" style="margin-right: 50px; flex-shrink: 0;" />
    <div style="flex-grow: 1;">
        <p style="font-weight: bold; margin-bottom: 20px;">Welcome to GameStore - your favorite destination where a passion for games meets the endless adventure in the world of virtual entertainment. We are a dynamic team of gaming enthusiasts who birthed this space out of love for the captivating realm of gaming.</p>
        <p style="font-weight: bold; margin-bottom: 20px;">At GameStore, we don't just sell games - we immerse you in a world where every click, every puzzle solved, and even every defeat becomes part of an exhilarating journey. Our mission is not only to provide you with the latest titles but also to build a community of enthusiasts who share the same passion.</p>
        <p style="font-weight: bold; margin-bottom: 20px;">Trust us when you're looking for the hottest releases, exclusive collector's editions, or helpful advice from experienced gamers. Our team consists of enthusiasts who not only know their way around games but also share their knowledge so that you can extract maximum joy from every moment spent in front of the screen.</p>
        <p style="font-weight: bold; margin-bottom: 20px;">At GameStore, we value each customer, which is why we prioritize excellent customer service and swift delivery. We're creating a place where shopping becomes a pleasure, and every customer feels like part of this unique community.</p>
        <p style="font-weight: bold; margin-bottom: 20px;">Join our adventure in the gaming world! GameStore - Your place where entertainment takes on a new dimension.</p>
    </div>
</div>




